*,*::before,*::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
.container{
  width:95%;
  margin: 0 auto;
  padding: 0;
}
/*headerpart*/
a{
  text-decoration: none;
  color: #fff;
}
.flex-space{
  display: flex;
  justify-content: space-between; 
}
.flex{
  display: flex;
}

/*middle*/
.textarea-box{
  width: 100%;
}
.input-box--1{
margin: 0 auto;
}
.input-box{
  margin: 0 auto;
}
.input-box-pro{
color: #fff;
background: transparent;  
}
.input-box--change{
width:100%;
color: #fff;
background: transparent;
}
.input-text{
  width:100%;
  outline: none;
  color: #fff;
  margin-bottom:1em;
  font-size: 1.2rem;
  background: transparent;
  border-bottom: 0.1em solid #fff;
}
.button-box{
width:100%;
padding:0.2em;
font-size: 1.2em; 
outline: none;
border:0.1em solid #fff;
background:transparent;
color: #fff;
}
.mid-par{
  padding: 1em;
  font-size: 1.3em;
  line-height: 1.6em;
}
.title-page{
  text-align: center;
  font-size: 2em;
}
.event-title{
  text-align: center;
  font-size: 2rem;
}
.image{
  width: 100%;
}
 .chage-design{
    display: flex;
    width:45%;
    flex-direction: column;
  }
/*middle*/
/*dektop */
@media (min-width:720px){
  .box{
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .envent-detail{
  width: 50%;
  }
  .image-container{
   width: 50%;
  }
  .reverse-flex{
    flex-direction: row-reverse;
  }
  .input-box-text-design{
    flex-direction:row;
  }
  .input-box{
  width:55%;
  }
  .input-box--1{
  width:55%;
  }
  .design-box{
    width: 100%;
  }
  .chage-design{
    display: flex;
    width:45%;
    flex-direction: column;
  }
}