*,*::before,*::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
.container{
  width:95%;
  margin: 0 auto;
  padding: 0;
}
/*headerpart*/
a{
  text-decoration: none;
  color: #fff;
}
.flex-space{
  display: flex;
  justify-content: space-between; 
}
.flex{
  display: flex;
}

/*middle*/
.textarea-box{
	width: 100%;
}
.input-box--1{
width:55%;
margin: 0 auto;
/*border: 1px solid red;*/
}
.input-box{
	/*border:1px solid green;*/
	margin: 0 auto;
	width:55%;
}
.input-box-pro{
color: #fff;
background: transparent;	
}
.input-box--change{
width:100%;
color: #fff;
background: transparent;
}
.input-text{
	width:100%;
	outline: none;
	color: #fff;
	margin-bottom:1em;
	font-size: 1.2rem;
	background: transparent;
	border-bottom: 0.1em solid #fff;
}
.button-box{
width:100%;
padding:0.2em;
font-size: 1.2em;	
outline: none;
border:0.1em solid #fff;
background:transparent;
color: #fff;
}
.mid-par{
	padding: 1em;
	font-size: 1.3em;
	line-height: 1.6em;
}
.title-page{
	text-align: center;
	font-size: 2em;
}
.event-title{
	text-align: center;
  font-size: 2rem;
}
.box{
	/*border: 3px solid red;*/
}
.image-container{
	width: 50%;
}
.envent-detail{
	width: 50%;
}
.Design-text{
  margin-bottom:30em;
  /*border: 1px solid red;*/
}
.image{
	width: 100%;
}
/*middle*/
.phone-nav{
  display:block;
}
.desktop--nav{
  display: none;
}
/*dektop */
@media (min-width:720px){
  .phone-nav{
      display: none;
    }
  .desktop--nav{
      display: block;
    }
  .header-button{
    outline: none;
    border:0.1em solid #fff;
    background:transparent;
    color: #fff;
  }
}